<h1>New Question</h1>
<% if @question.errors %>
    <%= render 'shared/errors', object: @question %>
<% end %>
<div class="form-group">
    <%= form_for @question, url: {action: "create"} do |f| %>
        <%= f.label :title, class: "form-control"%>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :body, class: "form-control"%>
        <%= f.text_area :body, class: "form-control"%>
        <%= f.submit "Create question", class: "btn btn-primary"%>
    <% end %>
</div>

<%= link_to "Back to category", category_path(@category), class: "btn btn-primary" %>
