<h1>New Question</h1>
<% if @question.errors %>
    <%= render 'shared/errors', object: @question %>
<% end %>
<%= form_for @question, url: {action: "create"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit "Create question" %>
<% end %>

<%= link_to "Back to category", category_path(@category)%>
