<% if @question %>
    <h1><%= @question.title %></h1>
    <% if @question.edited %>
        <p>This question has been edited</p>
    <% end %>
    <p><%= @question.content %></p>
    <%= form_for @question, url: question_path(@question) do |f| %>
        <%= f.label "Flag content" %>
        <%= f.check_box :mod_flag %>
        <%= f.submit "Submit" %>
    <% end %>
    <ul>
    <% if @question.comments %>
        <% @question.comments.each do |comment| %>
            <li>Edited:<%= comment.edited %> <%= comment.content %></li>
            <%= form_for comment, url: comment_path(comment) do |f| %>
                <%= f.label "Flag content" %>
                <%= f.check_box :mod_flag %>
                <%= f.submit "Submit" %>
            <% end %>
            <% if !comment.deleted %>
                <% if !comment.mod_flag %>
                    <%= link_to 'Edit comment', { controller: "comments", action: :edit, id: comment.id } %>
                <% end %>
                <%= link_to 'Delete comment',  { controller: "comments", action: :destroy, id: comment.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
    <% end %>
    </ul>
<% end %>

<%= link_to "Add new comment", new_question_comment_path(@question) %>
<%= link_to "Back to all questions", category_path(@question.category) %>
