<h1>New Comment</h1>
<% if @comment.errors %>
    <%= render 'shared/errors', object: @comment %>
<% end %>
<div class="form-group">
    <%= form_for @comment, url: {action: "create"} do |f| %>
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control"%>
        <%= f.submit "Submit comment", class: "btn btn-primary" %>
    <% end %>
</div>

<%= link_to "Back to question", question_path(@question), class: "btn btn-primary"%>
