<h1>New Category Form</h1>

<% if @category.errors %>
    <%= render 'shared/errors', object: @category %>
<% end %>
<%= form_for @category, url: {action: "create"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create Category" %>
<% end %>
